html body {
  position: relative;
}

.divhome {
  margin-top: 0px;
  position: fixed;
  width: 1440px;
  height: 902px;
  left: 0px;
  top: 64px;
  background: url('https://buenosairesbarbershop.com/assets/img/bg/barberia_byn.jpg');
}