.categoreiesContainer
{
    position: relative;
    width: 80vw;
    height: 100vh;
}
.containerTable
{
    height: 400px;
    overflow-y: scroll;

}
.createCategories
{
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
    height: 190px;
}
::-webkit-scrollbar {
    display: none;
}
.imagen
{
    position: relative;

    width: 300px;
}
.imagen input 
{
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 2;
   
}
.imagen img
{
    width: 100%;
    height: 200px;
    position:static;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;   
    object-position: center;
    object-fit: cover;
}
.cruz
{
    position: absolute;
    width: 24px;
    font-size: 15px;
    border-radius:100%;
    z-index: 3;
    font-weight: 900;
    top: 3px;
    right: 29px;
    color: rgb(15, 13, 13);
    cursor: pointer;
    transition: 0.5s;
}
.cruz:hover
{
    box-shadow: 1px 1px 1px 1px rgb(245, 241, 241);
}